<h1>Step 2</h1>
<br>
<form name="myForm2">
	<label for="Code">ID</label>
	<input id="Code" type="number" ng-model="form.code" name="Code" required ng-pattern="/^[0-9]{10}$/"/>
	<div class="alert">
	    <span class="error" ng-show="myForm2.Code.$error.required">Field "ID" is mandatory</span>
	    <span class="error" ng-show="myForm2.Code.$error.pattern">The length of the field must be 10 characters</span>
	    <span class="error" ng-show="!myForm2.Code.$error.required && !myForm2.Code.$error.pattern && !checkCode(form.code)">Age must be at least 21 years old</span>
	</div>
	<label for="Surname">Surname</label>
	<input id="Surname" type="text" ng-model="form.surname" name="Surname" required/>
	<div class="alert">
	    <span class="error" ng-show="myForm2.Surname.$error.required">Field "Surname" is mandatory</span>
	</div>
	<label for="Name">Name</label>
	<input id="Name" type="text" ng-model="form.name" name="Name" required/>
	<div class="alert">
	    <span class="error" ng-show="myForm2.Name.$error.required">Field "Name" is mandatory</span>
	</div>
	<label for="City">City</label>
	<input type="text" id="City" name="City" ng-autocomplete="result" details="details" options="options" ng-model="form.city" required/>
	<div class="alert">
	    <span class="error" ng-show="myForm2.City.$error.required">Field "City" is mandatory</span>
	</div>
</form>

<nav>
    <ul class="nav nav-tabs">
        <li><a href="#/stepOne">Previous</a></li>
        <li><a href="#/stepThree" ng-class="{ 'error-link': check(myForm2.$error)}" ng-click="addData()">Next</a></li>
    </ul>
    <div class="progress-bar">
    	<a href="#/stepOne">1</a>
    	<a href="#/stepTwo" class="active" ng-click="addData()">2</a>
    	<a href="#/stepThree" ng-class="{ 'disabled': check(myForm2.$error)}" ng-click="addData()">3</a>
    </div>
</nav>
